*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# کیستور امضا — بسیار حساس، هرگز در Git عمومی قرار نگیرد
keystore/*.jks
keystore/keystore.properties
